weibo/__pycache__
weibo/spiders/__pycache__
weibo/__pycache__/items.cpython-37.pyc
*.pyc
weibo/spiders/__pycache__/rootknot.cpython-37.pyc
weibo/__pycache__/pipelines.cpython-37.pyc
weibo/__pycache__/settings.cpython-37.pyc

